.form {
    display: flex;
}

.form .recipe-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 6rem;
    background: #48a512;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.form .recipe-button:horver {
    background: #48a512;
}

