.todo-list-template {
    background: white;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.title {
    padding: 2rem;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 100;
    background: #48a512;
    color: white;
}

.mid-title{
    padding: 1.5rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    background: #6c7767;
    color: white;
}

.form-wrapper {
    padding: 1rem;
    border-bottom: px solid #48a512;
}

.todos-wrapper {
    min-height: 5rem;
    font-size: 2.5rem;
}